:root {
	--bg: #111;
	--fg: white;
	--hl: #FF594A;
}

::selection {
  color: white;
  background: #FF7E75;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
	background: var(--bg);
}

* {
	font-family: 'Youtube Sans'

}

.cont {
	margin-left: 31.5vw;
	width: 38vw;
	text-align: justify;
}

.mover {
	margin-left: 7vw
}

.maintitle {
	color: var(--hl);
	font-size: 3vw;
	margin: 0;
	text-align: center;
}

p {
	color: var(--fg);
	font-size: 1.5vw;
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0 !important;
}

ul h2 {
	color: var(--hl);
	font-size: 2vw;
	margin: 0;
}

li {
	margin-bottom: 1.8vh;
}

.btn {
	display: inline-block;
	width: 9vw;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	padding: .3vw .8vw;
	border: .15vw solid var(--hl);
	border-radius: 1vw;
	color: var(--hl);
	margin-right:1vw;
	-webkit-transition: ease-out 0.3s;
	-moz-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}

.btn:hover {
	transform: translate(0px, -4px);
	color: black;
	color: var(--bg);
	background-color:#FF594A;
	x-shadow: inset 12vw 0 0 0 var(--hl);
}

.vidcont {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.vidcont iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

ul.navbar {
	margin-top: 3vh;
	margin-bottom: -5vh;
	text-align: center;
}

ul.navbar a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	padding: 0 .8vw;
	color: var(--hl);
	transition-duration: 0.5s;
}

.navbar a:hover {
	color: white;
	color: white;
	transition-duration: 0.5s;
}

@media screen and (orientation: portrait) {

	ul.navbar {
		margin-top: 5vh;
	}

	ul.navbar a {
		font-size: 5vw;
		padding: 0 2vw;
	}

	.cont {
		width: 80vw;
		margin-left: 10vw;
	}

	#homecont {
		margin-top: 30vh !important;
	}

	#workcont {
		margin-top: 28vh !important;
	}

	#shopcont {
		margin-top: 13vh !important;
	}

	.maintitle {
		font-size: 10vw;
	}

	p {
		font-size: 4vw;
	}

	.btn {
	    font-size: 5vw;	
		width: 30vw;
		padding: 9px .8vw;
		border: .6vw solid var(--hl);
		border-radius: 4vw;
		margin-right:4vw;
		cursor: pointer; }

	.btn:hover {
		box-shadow: inset 0 0 0 0;
		color: var(--hl);
	}

	ul h2 {
		font-size: 5vw;
	}

	li {
		margin-bottom: 10vh;
	}

}
body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #000000 url('file:///D:/Desktop/Techy/Website%20Based%20Projects/JooshFX%20Site%20Fix/plus.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 500px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
